/*
style.css: Style rules and overrides that produce branding in the msite UI.
These rules work in concert with msite.css and custom-theme.css and control brandable features like color, iconography, etc.
*/

/* 
=================
Begin: Login Page
=================
*/
#loginFormSection h1.signon_logo {
	background: url(../../../images/logo_signon.png) left top no-repeat;
}

#loginPage, #registerPage {
	background: url(../../../images/background_signon.png) left top no-repeat;
}

/* Nifty transparent box around login form fields */
#loginForm .authFields ul,
#registerPage .authFields ul {
	border: 1px solid transparent;
	background-image: -moz-linear-gradient(top, 
						rgba(255,255,255,.9), 
  						rgba(255,255,255,.8));
	background-image: -webkit-gradient(linear,left top,left bottom,
  					   color-stop(0, rgba(255,255,255,.9)),
  					   color-stop(1, rgba(255,255,255,.8)));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255,255,255,.9)', EndColorStr='rgba(255,255,255,.8)";
}

#loginForm .authFields ul li,
#registerPage .authFields ul li {
	background: none;
	border: none;
}

#loginForm .authFields ul li label,
#registerPage .authFields ul li label {
	color: #354394;
	text-shadow: #FFFFFF 0 1px 0;
}

#loginForm .authFields ul li input[type=text],
#loginForm .authFields ul li input[type=password],
#registerPage .authFields ul li input[type=text],
#registerPage .authFields ul li input[type=password] {
	border: solid 1px #ccc;
}

#loginForm .authFields ul li .ui-checkbox label {
	color: #333;
}

#loginForm .authFields ul li .ui-checkbox label .ui-icon-checkbox-on {
	background: url(../../../images/form_check_on.png) left top no-repeat;
}

#loginForm .authFields ul li .ui-checkbox label .ui-icon-checkbox-off {
	background: url(../../../images/form_check_off.png) left top no-repeat;
}

/* Sign On Button */
#loginFormContainer .ui-btn-up-c,
#registerPage .ui-btn-up-c {
	background: #364395;
	color: #FFFFFF;
	text-shadow: 0 -1px 0px #000;
	text-decoration: none;
	background-image: -moz-linear-gradient(top, #364395, #212B5E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #364395),
		color-stop(1, #212B5E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#364395', EndColorStr='#212B5E')";
}

#loginFormContainer a.ui-link-inherit,
#registerPage a.ui-link-inherit {
	color: #FFFFFF;
}

#loginPage .container-footer {
	background: rgba(0,0,0,.8);
}

#loginPage .container-footer .ui-link{
	color: #FFF;
}
/* 
===============
End: Login Page
===============
*/


/* 
========================
Begin: Registration Page
========================
*/
#registerPage {
	background-color: #333;
}
#registerPage h2 {
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}
#registerPage p {
	color: #fff;
}

#registerPage ul.steps {
	background-color: #ccc;
}
/* 
======================
End: Registration Page
======================
*/


/* 
==================
Begin: App Header 
==================
*/
div.layout-header {
	background: #364395;
	background-image: -moz-linear-gradient(top, #364395, #212B5E);
	background-image: -webkit-gradient(linear,left top,left bottom,
					   color-stop(0, #364395),
					   color-stop(1, #212B5E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#364395', EndColorStr='#212B5E')";
	-webkit-box-shadow: inset rgba(255,255,255,.3) 0 1px 0, inset rgba(0,0,0,.3) 0 -1px 0;
	-moz-box-shadow: inset rgba(255,255,255,.3) 0 1px 0, inset rgba(0,0,0,.3) 0 -1px 0;
	box-shadow: inset rgba(255,255,255,.3) 0 1px 0, inset rgba(0,0,0,.3) 0 -1px 0;
}

div.layout-header .branding-header-logo {
	background: url(../../../images/logo_header.png) left center no-repeat;
	height: 40px;
	line-height: 40px;
	width: 180px;
	text-indent: -9999px;
	margin: 0 0 0 6px;
}

div.layout-header .button-menu {
	color: #FFF;
	text-shadow: rgba(0,0,0,.8) 0 -1px 0;
	border-left: solid 1px #212B5E;
	-webkit-box-shadow: rgba(255,255,255,.1) -1px 0 0, inset rgba(255,255,255,.1) 1px 0 0;
	-moz-box-shadow: rgba(255,255,255,.1) -1px 0 0, inset rgba(255,255,255,.1) 1px 0 0;
	box-shadow: rgba(255,255,255,.1) -1px 0 0, inset rgba(255,255,255,.1) 1px 0 0;
}

div.layout-header .menu-active {
	color: #212B5E;
	text-shadow: none;
	-webkit-box-shadow: rgba(0,0,0,.3) -1px 0 2px;
	-moz-box-shadow: rgba(0,0,0,.3) -1px 0 2px;
	box-shadow: rgba(0,0,0,.3) -1px 0 2px;
}

.layout-header ul {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.layout-header li {
	background: #FFF;
	color: #333;
}
.layout-header ul li a {
	text-shadow: none;
}

.layout-header li.home .ui-btn-text {
	background: url(../../../images/icon_menu_home.png) 12px 12px no-repeat;
}

.layout-header li.my_profile .ui-btn-text {
	background: url(../../../images/icon_menu_my_profile.png) 12px 12px no-repeat;
}
.layout-header li.settings .ui-btn-text {
	background: url(../../../images/icon_menu_settings.png) 12px 12px no-repeat;
}

.layout-header li.signout .ui-btn-text {
	background: url(../../../images/icon_menu_sign_out.png) 12px 12px no-repeat;
}
.layout-header ul.ui-listview li.ui-btn .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #000;
}

.layout-header li.ui-btn-hover-c,
.layout-header li.ui-btn-up-c,
.layout-header li.ui-btn-down-c {
	border-bottom: solid 1px #EEE;
}
.layout-header li.ui-btn-hover-c .ui-btn-text a,
.layout-header li.ui-btn-down-c .ui-btn-text a {
	color: #000;
}
/* 
===============
End: App Header
===============
*/



/* 
=====================
Begin: Navigation bar
=====================
*/
.container-navbar {
	/*
	background: url(../../../images/background_content.png);
	*/
	background-color: #f0ecdf;
}

.container-navbar ul li .ui-btn-active {
	background: #3683B4;
	background-image: -moz-linear-gradient(top, #3683B4, #316DA1);
	background-image: -webkit-gradient(linear,left top,left bottom,
					   color-stop(0, #3683B4),
					   color-stop(1, #316DA1));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3683B4', EndColorStr='#316DA1')";
}

.container-navbar ul li #home .ui-icon {
	background: url(../../../images/icon_home.png) 0px -25px no-repeat;
	width: 30px;
	height: 25px;
}

.container-navbar ul li #home.ui-btn-active .ui-icon {
	background: url(../../../images/icon_home.png) 0px 0px no-repeat;
	width: 30px;
	height: 25px;
}

.container-navbar ul li #discussions .ui-icon {
	background: url(../../../images/icon_discussions.png) 0px -25px no-repeat;
	width: 34px;
	height: 25px;
}

.container-navbar ul li #discussions.ui-btn-active .ui-icon {
	background: url(../../../images/icon_discussions.png) 0px 0px no-repeat;
	width: 34px;
	height: 25px;
}

.container-navbar ul li #courses .ui-icon {
	background: url(../../../images/icon_courses.png) 0px -25px no-repeat;
	width: 30px;
	height: 25px;
}

.container-navbar ul li #courses.ui-btn-active .ui-icon {
	background: url(../../../images/icon_courses.png) 0px 0px no-repeat;
	width: 30px;
	height: 25px;
}

.container-navbar ul li #my_profile .ui-icon {
	background: url(../../../images/icon_my_profile.png) 0px -26px no-repeat;
	width: 34px;
	height: 26px;
}

.container-navbar ul li #my_profile.ui-btn-active .ui-icon {
	background: url(../../../images/icon_my_profile.png) 0px 0 no-repeat;
	width: 34px;
	height: 26px;
}
/* 
===================
End: Navigation Bar
===================
*/



/* 
===================
Begin: Subnav bar
===================
*/
.subnav {
	background: #3683B4;
	background-image: -moz-linear-gradient(top, #316DA1, #294F88);
	background-image: -webkit-gradient(linear,left top,left bottom,
					  color-stop(0, #316DA1),
					  color-stop(1, #294F88));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#316DA1', EndColorStr='#294F88')";
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-bottom: solid 1px #1D375E;
}
.subnav .btn-refresh .ui-icon {
	background: url(../../../images/icon_refresh.png) 0px 0 no-repeat;
}
.subnav .announcement-subject,
.subnav .announcement-message,
.subnav .announcement-subject a,
.subnav .announcement-message a {
	color: #FFF;
	text-shadow: rgba(0,0,0,.8) 0 -1px 0;
}
.subnav a {
	background: #72A7C9;
	background-image: -moz-linear-gradient(top, #72A7C9, #295088);
	background-image: -webkit-gradient(linear,left top,left bottom,
					  color-stop(0, #72A7C9),
					  color-stop(1, #295088));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#72A7C9', EndColorStr='#295088')";
}

.subnav a.ui-btn-active,
.subnav a {
	border: solid 1px #162A47;
	-webkit-box-shadow: rgba(255,255,255,.2) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,.2) 0 1px 0;
	box-shadow: rgba(255,255,255,.2) 0 1px 0;
}

.subnav a.ui-btn-active .ui-btn-inner {
	background: #2F689D;
	background-image: -moz-linear-gradient(top, #2F689D, #1D375E);
	background-image: -webkit-gradient(linear,left top,left bottom,
				color-stop(0, #2F689D),
				color-stop(1, #1D375E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2F689D', EndColorStr='#1D375E')"; 
}

.subnav a.ui-btn-active .ui-btn-inner .ui-btn-text,
.subnav a .ui-btn-inner .ui-btn-text {
	text-shadow: rgba(0,0,0,.8) 0 -1px 0;
	color: #FFF;
}
/* 
===============
End: Subnav bar
===============
*/

/* 
================
Begin: List View
================
*/
.mobi-listview li {
	border-top: solid 1px #CCC;
	background: #FFF;
}

.mobi-listview li:hover {
	background-color: #EEE;
	border-top: solid 1px #CCC;
}

.mobi-listview li:hover {
	text-shadow: none;
}

.mobi-listview li:hover .mobi-course-title,
.mobi-listview li:hover .mobi-summary,
.mobi-listview li:hover .mobi-date,
.mobi-listview li:hover .mobi-response-count,
.mobi-listview li:hover .mobi-your-responses {
	color: #333;
}

.mobi-listview li .ui-li-count {
	background: #333884;
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.mobi-listview li span.mobi-grade {
	color: #666;
}

.mobi-listview li .mobi-response-count {
	background: url(../../../images/icon_response_small.png) left top no-repeat;
}

.mobi-instructor-name {
	background: url(../../../images/icon_person_small.png) left top no-repeat;
	color: #333;
}

.mobi-student-role {
	color: #333;
}

.view-discussion .mobi-icon-response-count {
	color: #fff;
	background-color: #333884;
}
.view-discussion .mobi-icon-arrow-r {
	color: #666;
	background: url(../../../images/icon_list_arrow.png) center center no-repeat;
}

.mobi-listview li.ui-li-divider {
	background: #666;
	background-image: -moz-linear-gradient(top, #666666, #999999);
	background-image: -webkit-gradient(linear,left top,left bottom,
					  color-stop(0, #666666),
					  color-stop(1, #999999));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#999999')";
	-webkit-box-shadow: inset rgba(0,0,0,.6) 0 1px 0, inset rgba(255,255,244,.3) 0 2px 0, inset rgba(0,0,0,.3) 0 -1px 0;
	-moz-box-shadow: inset rgba(0,0,0,.6) 0 1px 0, inset rgba(255,255,244,.3) 0 2px 0, inset rgba(0,0,0,.3) 0 -1px 0;
	box-shadow: inset rgba(0,0,0,.6) 0 1px 0, inset rgba(255,255,244,.3) 0 2px 0, inset rgba(0,0,0,.3) 0 -1px 0;
	border: none;
	text-shadow: rgba(0,0,0,.8) 0 -1px 0;
}

.mobi-listview li .mobi-title,
.activity-info-header .mobi-title,
.mobi-listview li a .mobi-user span,
.mobi-listview li a .mobi-topicline {
	color:  #306CA0;
}
.mobi-listview li .mobi-author,
.mobi-listview li .mobi-total-responses {
	color: #222;
}

.mobi-listview li .mobi-author {
	background: url(../../../images/icon_author.png) 0px 0px no-repeat;
}
/* 
==============
End: List View
==============
*/


/* 
===================
Begin: Detail Views
===================
All detail views: topic, activity, upcoming, course, etc.
*/
.topic-header,
.activity-detail .ui-content,
.detail-header,
#pageCourseProfile,
.view-profile {
	/*
	background: url(../../../images/background_content.png);
	*/
	background-color: #f0ecdf;
}

.my-profile-item-icon {
	background: #FFF;
	border: solid 1px #CCC;
	background: #FFF url(../../../images/icon_profile_avatar.png) 4px 4px no-repeat;
}

.my-profile-item-icon .you-banner {
	background: url(../../../images/icon_you_banner.png) 4px 4px no-repeat;
}

.container-discussion-detail .mobi-unread-responses {
	color: #fff;
	background-color: #333884;
}

.activity-detail-links .ui-link {
	background-color: #EEE;
	border: solid 1px #CCC;
	color: #666;
}

.detail-link-file {
	background: url(../../../images/icon_attachment.png) 10px 5px no-repeat;
}

#pageActivityDetail .detail-header .ui-btn-left {
	-webkit-box-shadow: #FFF 0 1px 0;
	-moz-box-shadow: #FFF 0 1px 0;
	box-shadow: #FFF 0 1px 0;
}

/* View Profile */


.list-header {
	color: #66645F;
}

/* Icons: list view and activity detail */
.mobi-listview li.responses,
.mobi-listview li.thread-topic,
.topic-header .responses {
	background-image: url(../../../images/icon_responses.png);
}

.mobi-listview li.no-responses,
.mobi-listview li.thread-post,
.view-whatsdue .mobi-listview li.discussion,
.topic-header .no-responses {
	background-image: url(../../../images/icon_no_responses.png);
}

.mobi-listview li.hot-topic,
.topic-header .hot-topic {
	background-image: url(../../../images/icon_hot_topic.png);
}

.mobi-listview li.course {
	background-image: url(../../../images/icon_course.png);
}

.mobi-listview li.grade,
.container-activity-detail .grade,
.container-activity-detail .detail-grade,
.container-activity-detail .container-grade {
	background-image: url(../../../images/icon_grade.png);
	background-repeat: no-repeat;
}
.mobi-listview li.dropbox-submission,
.container-activity-detail .dropbox-submission,
.container-activity-detail .container-dropbox {
	background-image: url(../../../images/icon_dropbox.png);
	background-repeat: no-repeat;
}

.mobi-listview li.exam-submission,
.container-activity-detail .exam-submission {
	background-image: url(../../../images/icon_exam.png);  
}

.mobi-listview li.person {
	background-image: url(../../../images/icon_person.png);  
}

.mobi-listview li.assignment {
	background-image: url(../../../images/icon_assignment.png);
}

.container-activity-detail .mobi-activity-title {
	color: #347BAD;
}

.container-topicinfo .mobi-student-name {
	color: #2e3a81;
}

div div.container-activity-detail {
	background-color: #fff;
	border: 1px solid #fff;
	-webkit-box-shadow: rgba(0,0,0,.3) 0 0 5px;
	-moz-box-shadow: #7c7e79 5px 5px 5px;
	box-shadow: #7c7e79 5px 5px 5px;
}

.container-personinfo .mobi-student-name {
	color: #2e3a81;
}

#pagePerson .mobi-student-class {
	color: #333333;
}
/* 
=================
End: Detail Views
=================
*/

/*
==========================================
Begin: Custom jQuery Mobile Theme Elements
==========================================
*/
.ui-btn-up-c {
	border: 0px solid #70684F;
	background: #8F897E;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
	background-image: -moz-linear-gradient(top, #ADA79A, #8F897E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #ADA79A),
		color-stop(1, #8F897E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ADA79A', EndColorStr='#8F897E')";
}
.ui-btn-up-c a.ui-link-inherit {
	color: #FFF;
}

.ui-btn-hover-c {
    border: 0px solid #bbb;
	background: #dadada;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
	background-image: -moz-linear-gradient(top, #ADA79A, #8F897E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #ADA79A),
		color-stop(1, #8F897E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ADA79A', EndColorStr='#8F897E')";
}
.ui-btn-hover-c a.ui-link-inherit {
	color: #2F3E46;
}
.ui-btn-down-c {
	background: #fdfdfd;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
	background-image: -moz-linear-gradient(top, #ADA79A, #8F897E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #ADA79A),
		color-stop(1, #8F897E));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ADA79A', EndColorStr='#8F897E')";
}
.ui-btn-down-c a.ui-link-inherit {
	color: #2F3E46;
}

.ui-bar-b {
	background: #3683B4;
	background-image: -moz-linear-gradient(top, #316DA1, #294F88);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #316DA1),
		color-stop(1, #294F88));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#316DA1', EndColorStr='#294F88')";
	border-bottom: solid 1px #1D375E;
	color: #FFF;
}
.ui-bar-b .ui-link-inherit {
	color: #fff;
}
.ui-bar-b .ui-link {
	color: #7cc4e7;
}

.ui-btn-up-d {
	border: 1px solid #294F88;
	color: #FFF;
	text-shadow: 0 -1px 0 #000;
	background: #3683B4;
	background-image: -moz-linear-gradient(top, #3683B4, #316DA1);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #3683B4),
		color-stop(1, #316DA1));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3683B4', EndColorStr='#316DA1')";
}
.ui-btn-up-d a.ui-link-inherit {
	color: #333;
}
.ui-btn-hover-d {
	border: 1px solid #294F88;
	color: #FFF;
	text-shadow: 0 -1px 0 #000;
	background: #3683B4;
	background-image: -moz-linear-gradient(top, #3683B4, #316DA1);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #3683B4),
		color-stop(1, #316DA1));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3683B4', EndColorStr='#316DA1')";
}
.ui-btn-hover-d a.ui-link-inherit {
	color: #222;
}
.ui-btn-down-d {
	border: 1px solid #294F88;
	color: #FFF;
	text-shadow: 0 -1px 0 #000;
	background: #3683B4;
	background-image: -moz-linear-gradient(top, #3683B4, #316DA1);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #3683B4),
		color-stop(1, #316DA1));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3683B4', EndColorStr='#316DA1')";
}
.ui-btn-down-d a.ui-link-inherit {
	border: 1px solid #808080;
	background: #ced0d2;
	color: #111;
	background-image: -moz-linear-gradient(top, #cccccc, #eeeeee);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #cccccc),
		color-stop(1, #eeeeee));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#cccccc', EndColorStr='#eeeeee')";
}

.ui-btn-up-e {
	border: 1px solid #70684F;
	background: #8F897E;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
	background-image: -moz-linear-gradient(top, #ADA79A, #8F897E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #ADA79A),
		color-stop(1, #8F897E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ADA79A', EndColorStr='#8F897E')";
}
.ui-btn-up-e a.ui-link-inherit {
	color: #FFF;
}

.ui-btn-hover-e {
	border: 1px solid #70684F;
	background: #8F897E;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
	background-image: -moz-linear-gradient(top, #ADA79A, #8F897E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #ADA79A),
		color-stop(1, #8F897E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ADA79A', EndColorStr='#8F897E')";
}

.ui-btn-hover-e a.ui-link-inherit {
	color: #333;
}
.ui-btn-down-e {
	border: 1px solid #70684F;
	background: #8F897E;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
	background-image: -moz-linear-gradient(top, #ADA79A, #8F897E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #ADA79A),
		color-stop(1, #8F897E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ADA79A', EndColorStr='#8F897E')";
}
.ui-btn-down-e a.ui-link-inherit {
	color: #333;
}
.ui-body-a {
	border: 1px solid #2A2A2A;
	background: #444444;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	background-image: -moz-linear-gradient(top, #999999, #444444);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, #999999),
		color-stop(1, #444444));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#999999', EndColorStr='#444444)')";
}

/*
========================================
End: Custom jQuery Mobile Theme Elements
========================================
*/
