/*body {
  background: url(../images/background_content.png);
}*/

#loginFormSection h1.signon_logo {
  background: url(../images/logo_signon.png) left top no-repeat;
  width: 201px;
  height: 100px;
  text-indent: -9999px;
  margin: 0 auto;
}

#loginPage, #registerPage {
  background: url(../images/background_signon.png) left top no-repeat;
}


#loginForm .authFields ul,
#registerPage .authFields ul {
  background-image: -moz-linear-gradient(top, 
  						rgba(255,255,255,.9), 
  						rgba(255,255,255,.8));
  background-image: -webkit-gradient(linear,left top,left bottom,
  	color-stop(0, 		rgba(255,255,255,.9)),
  	color-stop(1, 		rgba(255,255,255,.8)));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(255,255,255,.9)', EndColorStr='rgba(255,255,255,.8)";
}

#loginForm .authFields ul li,
#registerPage .authFields ul li {
  background: transparent;
  border: none;
}

#loginForm .authFields ul li label,
#registerPage .authFields ul li label {
  color: #354394;
  padding-left: 2px;
  text-shadow: #FFFFFF 0 1px 0;
  font-weight: bold;
  line-height: 40px;
}

#loginForm .authFields ul li input[type=text],
#loginForm .authFields ul li input[type=password],
#registerPage .authFields ul li input[type=text],
#registerPage .authFields ul li input[type=password] {
  border: solid 1px #CCC;
  
}
.portrait #loginForm .authFields ul li input,
.portrait #registerPage .authFields ul li input {
	width: 120%;
}

.landscape #loginForm .authFields ul li input,
.landscape #registerPage .authFields ul li input {
	width: 110%;
}

#loginForm .authFields ul li .ui-checkbox input[type=checkbox] {
/*  margin: 30px 0 0 0;*/
}

#loginForm .authFields ul li .ui-checkbox label {
  background: transparent;
  border: none;
  margin: -30px 0 0 0;
  color: #333;
  width: 110%;
}

#loginForm .authFields ul li .ui-checkbox label .ui-btn-text {
    padding-left: 15px;
    position: relative;
    top: 7px;
}

#loginForm .authFields ul li .ui-checkbox label .ui-icon-checkbox-on,
#loginForm .authFields ul li .ui-checkbox label .ui-icon-checkbox-off {
  width: 33px;
  height: 33px;
  background-size: 32px 33px;
}

#loginForm .authFields ul li .ui-checkbox label .ui-icon-checkbox-on {
  background: url(../images/form_check_on.png) left top no-repeat;
}

#loginForm .authFields ul li .ui-checkbox label .ui-icon-checkbox-off {
  background: url(../images/form_check_off.png) left top no-repeat;
}

/* Sign On Button */

#loginFormContainer .ui-btn-up-c,
#registerPage .ui-btn-up-c {
	border: none;
	background: 			#364395;
	font-weight: bold;
	color: 					#FFFFFF;
	cursor: pointer;
	text-shadow: 0 -1px 0px #000;
	text-decoration: none;
	background-image: -moz-linear-gradient(top, 
							#364395, 
							#212B5E);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#364395),
		color-stop(1, 		#212B5E));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#364395', EndColorStr='#212B5E')";
}

#loginFormContainer a.ui-link-inherit,
#registerPage a.ui-link-inherit {
	color: 					#FFFFFF;
}

.ui-btn-hover-c {
	border: none;
	background: 			#5461B2;
	font-weight: bold;
	color: 					#FFFFFF;
	text-decoration: none;
	text-shadow: 0 -1px 0px #000;
	background-image: -moz-linear-gradient(top, 
							#5461B2, 
							#414C80);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#5461B2),
		color-stop(1, 		#414C80));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5461B2', EndColorStr='#414C80')";
}
.ui-btn-hover-c a.ui-link-inherit {
	color: 					#FFFFFF;
}

#loginPage .container-footer {
  background: rgba(0,0,0,.8);
}

#loginPage .container-footer .ui-link{
  color: #FFF;
}

/* Registration Page */
#registerPage {
	background-color: #333;
}
#registerPage h2 {
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}
#registerPage p {
	text-shadow: none;
	color: #fff;
	font-weight: bold;
}

#registerPage ul.steps {
	background-color: #ccc;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-top: 15px;
	padding-right: 15px;
}
#registerPage ul.steps li {
	padding-bottom: 15px;
	text-shadow: none;
}

/* Header */

div.layout-header {
  background: 			#364395;
  background-image: -moz-linear-gradient(top, 
  						#364395, 
  						#212B5E);
  background-image: -webkit-gradient(linear,left top,left bottom,
  	color-stop(0, 		#364395),
  	color-stop(1, 		#212B5E));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#364395', EndColorStr='#212B5E')";
  -webkit-box-shadow: inset rgba(255,255,255,.3) 0 1px 0, inset rgba(0,0,0,.3) 0 -1px 0;
  -moz-box-shadow: inset rgba(255,255,255,.3) 0 1px 0, inset rgba(0,0,0,.3) 0 -1px 0;
  box-shadow: inset rgba(255,255,255,.3) 0 1px 0, inset rgba(0,0,0,.3) 0 -1px 0;
}

div.layout-header .branding-header-logo {
	background: url(../images/logo_header.png) left center no-repeat;
	height: 40px;
	line-height: 40px;
	width: 180px;
	text-indent: -9999px;
	margin: 0 0 0 6px;
}

div.layout-header .button-menu {
	color: #FFF;
	text-shadow: rgba(0,0,0,.8) 0 -1px 0;
	font-size: .9em;
	border-left: solid 1px #212B5E;
	-webkit-box-shadow: rgba(255,255,255,.1) -1px 0 0, inset rgba(255,255,255,.1) 1px 0 0;
	-moz-box-shadow: rgba(255,255,255,.1) -1px 0 0, inset rgba(255,255,255,.1) 1px 0 0;
	box-shadow: rgba(255,255,255,.1) -1px 0 0, inset rgba(255,255,255,.1) 1px 0 0;
}

div.layout-header .menu-active {
	color: #212B5E;
	text-shadow: none;
	-webkit-box-shadow: rgba(0,0,0,.3) -1px 0 2px;
	-moz-box-shadow: rgba(0,0,0,.3) -1px 0 2px;
	box-shadow: rgba(0,0,0,.3) -1px 0 2px;
}

.layout-header ul {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.layout-header li {
	background: #FFF;
	border: none;
	text-shadow: none;
	color: #333;
}
.layout-header ul li a {
	text-shadow: none;
}

.layout-header li.home .ui-btn-text {
	background: url(../images/icon_menu_home.png) left top no-repeat;
	line-height: 25px;
	padding: 0 0 0 32px;
}

.layout-header li.my_profile .ui-btn-text {
	background: url(../images/icon_menu_my_profile.png) left top no-repeat;
	line-height: 26px;
	padding: 0 0 0 32px;
}

.layout-header li.settings .ui-btn-text {
	background: url(../images/icon_menu_settings.png) left top no-repeat;
	line-height: 26px;
	padding: 0 0 0 32px;
}

.layout-header li.signout .ui-btn-text {
	background: url(../images/icon_menu_sign_out.png) left top no-repeat;
	line-height: 26px;
	padding: 0 0 0 32px;
}
.layout-header ul.ui-listview li.ui-btn .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #000;
}

.layout-header li.ui-btn-hover-c,
.layout-header li.ui-btn-up-c,
.layout-header li.ui-btn-down-c {
	border-bottom: solid 1px #EEE;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
.layout-header li.ui-btn-hover-c .ui-btn-text a,
.layout-header li.ui-btn-down-c .ui-btn-text a {
	color: #000;
	text-shadow: none;
}

.layout-header li .ui-btn-inner span.ui-icon {
	display: none;
}

.container-navbar {
	background: url(../images/background_content.png);
}

.container-navbar ul {
	padding: 4px 4px 0 4px;
}

.container-navbar ul li {
	padding: 2px;
}

.container-navbar ul li .ui-btn-active,
.container-navbar ul li .ui-btn-up-c,
.container-navbar ul li .ui-btn-over-c,
.container-navbar ul li .ui-btn-hover-c {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-indent: -9999px;
	height: 38px;
}

.container-navbar ul li .ui-btn-up-c,
.container-navbar ul li .ui-btn-over-c,
.container-navbar ul li .ui-btn-hover-c,
.container-navbar ul li .ui-btn-down-c {
	background: none;
	border: none;
}

.container-navbar ul li .ui-btn-active {
  background: #3683B4;
	background-image: -moz-linear-gradient(top, 
							#3683B4, 
							#316DA1);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#3683B4),
		color-stop(1, 		#316DA1));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3683B4', EndColorStr='#316DA1')";
}

.container-navbar ul li .ui-icon,
.container-navbar ul li .ui-btn-active .ui-icon,
.container-navbar ul li .ui-btn-up-c .ui-icon,
.container-navbar ul li .ui-btn-over-c .ui-icon,
.container-navbar ul li .ui-btn-hover-c .ui-icon,
.container-navbar ul li .ui-btn-down-c .ui-icon {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0 auto;
  padding: 0;
}

.container-navbar ul li .ui-btn-text {
  display: none;
}

.container-navbar ul li #home .ui-icon {
  background: url(../images/icon_home.png) 0px -25px no-repeat;
  width: 30px;
  height: 25px;
}

.container-navbar ul li #home.ui-btn-active .ui-icon {
  background: url(../images/icon_home.png) 0px 0px no-repeat;
  width: 30px;
  height: 25px;
}

.container-navbar ul li #discussions .ui-icon {
  background: url(../images/icon_discussions.png) 0px -25px no-repeat;
  width: 34px;
  height: 25px;
}

.container-navbar ul li #discussions.ui-btn-active .ui-icon {
  background: url(../images/icon_discussions.png) 0px 0px no-repeat;
  width: 34px;
  height: 25px;
}

.container-navbar ul li #courses .ui-icon {
  background: url(../images/icon_courses.png) 0px -25px no-repeat;
  width: 30px;
  height: 25px;
}

.container-navbar ul li #courses.ui-btn-active .ui-icon {
  background: url(../images/icon_courses.png) 0px 0px no-repeat;
  width: 30px;
  height: 25px;
}

.container-navbar ul li #my_profile .ui-icon {
  background: url(../images/icon_my_profile.png) 0px -26px no-repeat;
  width: 34px;
  height: 26px;
}

.container-navbar ul li #my_profile.ui-btn-active .ui-icon {
  background: url(../images/icon_my_profile.png) 0px 0 no-repeat;
  width: 34px;
  height: 26px;
}

/* grid c: 25/25/25/25 */
.container-navbar .ui-grid-c .ui-block-a, .container-navbar .ui-grid-c .ui-block-b, .container-navbar .ui-grid-c .ui-block-c, .container-navbar .ui-grid-c .ui-block-d { width: 24%; padding: 0; }

.subnav {
  padding: 6px;
  margin: 0;
  background: #3683B4;
  background-image: -moz-linear-gradient(top, 
  						#316DA1, 
  						#294F88);
  background-image: -webkit-gradient(linear,left top,left bottom,
  	color-stop(0, 		#316DA1),
  	color-stop(1, 		#294F88));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#316DA1', EndColorStr='#294F88')";
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-bottom: solid 1px #1D375E;
  line-height: 10px;
  clear: both;
}

#pageHome .subnav {
  height: 40px;
  padding-top: 0;
}


.subnav .btn-refresh {
  float: right;
  width: 26px;
  height: 26px;
  padding: 0;
}

.subnav .activity-toggle {
  float: left;
  width: 96%;
}

.subnav .btn-refresh {
  float: right;
  width: 29px;
  height: 29px;
  padding: 0;
}

.subnav .btn-refresh .ui-icon {
  margin: 4px 6px;
  background: url(../images/icon_refresh.png) 0px 0 no-repeat;
}

.subnav .btn-refresh .btn-inner-text {
  text-indent: ;
}

.subnav .announcement-subject,
.subnav .announcement-message {
  color: #FFF;
  text-shadow: rgba(0,0,0,.8) 0 -1px 0;
  margin: 0;
  padding: 4px;
}

.subnav .announcement-message {
  font-size: .8em;
}

.subnav .ui-select {
  width: 100%;
  text-align: left;
}

.subnav .ui-select span.ui-btn-text {
  text-align: left;
}

.subnav a {
  background: #72A7C9;
  background-image: -moz-linear-gradient(top, 
  						#72A7C9, 
  						#295088);
  background-image: -webkit-gradient(linear,left top,left bottom,
  	color-stop(0, 		#72A7C9),
  	color-stop(1, 		#295088));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#72A7C9', EndColorStr='#295088')";
}

.subnav a.ui-btn-active,
.subnav a {
  border: solid 1px #162A47;
  -webkit-box-shadow: rgba(255,255,255,.2) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,.2) 0 1px 0;
  box-shadow: rgba(255,255,255,.2) 0 1px 0;
}

.subnav a.ui-btn-active .ui-btn-inner {
  background: #2F689D;
  background-image: -moz-linear-gradient(top, 
  						#2F689D, 
  						#1D375E);
  background-image: -webkit-gradient(linear,left top,left bottom,
  	color-stop(0, 		#2F689D),
  	color-stop(1, 		#1D375E));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2F689D', EndColorStr='#1D375E')"; 
}

.subnav a.ui-btn-active .ui-btn-inner .ui-btn-text,
.subnav a .ui-btn-inner .ui-btn-text {
  text-shadow: rgba(0,0,0,.8) 0 -1px 0;
  color: #FFF;
  font-size: .9em;
}

.subnav .ui-select .ui-btn {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.subnav .ui-select .ui-btn-inner {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 4px 0;
}

.subnav .ui-select .ui-btn-text {
  float: left;
}


/* List View */
.mobi-listview li {
  background: #FFF;
}

.mobi-listview li:hover {
  background-color: #EEE;
  border-top: solid 1px #CCC;
}

.mobi-listview li:hover {
  text-shadow: none;
}

.mobi-listview li:hover .mobi-course-title,
.mobi-listview li:hover .mobi-summary,
.mobi-listview li:hover .mobi-date,
.mobi-listview li:hover .mobi-response-count,
.mobi-listview li:hover .mobi-your-responses {
  color: #333;
}

.mobi-listview li .ui-li-count {
  background: #333884;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.mobi-listview li span.grade {
  position: absolute;
  right: 40px;
  top: 12px;
  color: #666;
  font-weight: bold;
}

.mobi-listview li .mobi-response-count {
	background: url(../images/icon_response_small.png) left top no-repeat;
	padding-left: 16px;
	display: block;
}

.mobi-instructor-name {
	background: url(../images/icon_person_small.png) left top no-repeat;
	padding-left: 16px;
	display: block;
	font-size: 70%;
	font-weight: bold;
	color: #333;
	margin: 0;
	padding-bottom: 10px;
}

.mobi-student-role{
	display: block;
	font-size: 70%;
	font-weight: bold;
	color: #333;
	margin: 0;
	padding-bottom: 10px;
}

.mobi-listview li.ui-li-divider {
  background: #666;
  background-image: -moz-linear-gradient(top, 
  						#666666, 
  						#999999);
  background-image: -webkit-gradient(linear,left top,left bottom,
  	color-stop(0, 		#666666),
  	color-stop(1, 		#999999));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#666666', EndColorStr='#999999')";
  -webkit-box-shadow: inset rgba(0,0,0,.6) 0 1px 0, inset rgba(255,255,244,.3) 0 2px 0, inset rgba(0,0,0,.3) 0 -1px 0;
  -moz-box-shadow: inset rgba(0,0,0,.6) 0 1px 0, inset rgba(255,255,244,.3) 0 2px 0, inset rgba(0,0,0,.3) 0 -1px 0;
  box-shadow: inset rgba(0,0,0,.6) 0 1px 0, inset rgba(255,255,244,.3) 0 2px 0, inset rgba(0,0,0,.3) 0 -1px 0;
  border: none;
  text-shadow: rgba(0,0,0,.8) 0 -1px 0;
}

.mobi-listview li .mobi-title,
.activity-info-header .mobi-title {
  color:  #306CA0;
}
.mobi-listview li .mobi-author,
.mobi-listview li .mobi-total-responses {
	color: #222;
}

.topic-header {
  background: url(../images/background_content.png);
  padding: 10px 0;
}

#textarea-response {
  width: 95%;
}

.activity-detail {
  background: url(../images/background_content.png);
}

/* Detail Header */

.ui-content {
  clear: both;
}

.item-icon {
  background: #FFF;
  border: #CCC;
  width: 60px;
  height: 60px;
}

.my-profile-item-icon {
  background: #FFF;
  border: solid 1px #CCC;
  width: 36px;
  height: 36px;
  background: #FFF url(../images/icon_profile_avatar.png) 4px 4px no-repeat;
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
}

.my-profile-item-icon .you-banner {
  background: url(../images/icon_you_banner.png) 4px 4px no-repeat;
  width: 34px;
  height: 34px;
  display: block;
  text-indent: -9999px;
  position: relative;
  top: -6px;
  left: -6px;
}

.detail-header {
  width: 100%;
  padding: 0px;
}

.activity-detail-links {
  clear: both;
  padding: 16px 0 0 0;
}

.activity-detail-links .ui-link {
  color: #666;
  display: block;
  font-size: .9em;
  text-decoration: none;
  margin: 0 0 8px 0;
  background-color: #EEE;
  border: solid 1px #CCC;
  color: #666;
  -webkit-border-radius: 4px;
}

.detail-link-file {
  padding: 8px 8px 8px 40px;
  background: url(../images/icon_attachment.png) 10px 5px no-repeat;
}

.detail-link {
  padding: 8px;
}

#pageActivityDetail .detail-header .ui-btn-left {
  width: 60px;
}

#pageActivityDetail .detail-header .ui-btn-left {
  font-size: .9em;
  -webkit-box-shadow: #FFF 0 1px 0;
  -moz-box-shadow: #FFF 0 1px 0;
  box-shadow: #FFF 0 1px 0;
}

/* View Profile */
.view-profile {
   background: url(../images/background_content.png);
   padding: 20px;
}