/* STRATA */
.container-page .detain-header .ui-btn-corner-all {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
}
.ui-btn-up-c {
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
.ui-btn-hover-c {
	font-weight: bold;
	text-decoration: none;
}
.ui-btn-down-c {
	font-weight: bold;
}
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
	font-family: Helvetica, Arial, sans-serif;
}

.ui-bar-b {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	line-height: 10px;
}
.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-b .ui-link {
	font-weight: bold;
}

/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: 		1em;
	-webkit-border-top-left-radius: 	1em;
	border-top-left-radius: 			1em;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 		1em;
	-webkit-border-top-right-radius: 	1em;
	border-top-right-radius: 			1em;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 		1em;
	-webkit-border-bottom-left-radius: 	1em;
	border-bottom-left-radius: 			1em;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 	1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 		1em;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 		1em;
	-webkit-border-top-left-radius: 	1em;
	border-top-left-radius: 			1em;
	-moz-border-radius-topright: 		1em;
	-webkit-border-top-right-radius: 	1em;
	border-top-right-radius: 			1em;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 		1em;
	-webkit-border-bottom-left-radius: 	1em;
	border-bottom-left-radius: 			1em;
	-moz-border-radius-bottomright: 	1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 		1em;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: 		1em;
	-webkit-border-top-right-radius: 	1em;
	border-top-right-radius: 			1em;
	-moz-border-radius-bottomright: 	1em;
	-webkit-border-bottom-right-radius: 1em;
	border-bottom-right-radius: 		1em;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 		1em;
	-webkit-border-top-left-radius: 	1em;
	border-top-left-radius: 			1em;
	-moz-border-radius-bottomleft: 		1em;
	-webkit-border-bottom-left-radius: 	1em;
	border-bottom-left-radius: 			1em;
}
.ui-btn-corner-all {
	-moz-border-radius: 				4px; /*.6em;*/
	-webkit-border-radius: 				4px; /*.6em;*/
	border-radius: 						4px; /*.6em;*/
}

.ui-btn-up-d {
	font-weight: bold;
	text-decoration: none;
}
.ui-btn-hover-d {
	font-weight: bold;
	text-decoration: none;
}
.ui-btn-down-d {
	font-weight: bold;
	text-decoration: none;
}
.ui-btn-down-d a.ui-link-inherit {
	font-weight: bold;
	text-shadow: none;
}

.ui-btn-up-e {
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.ui-btn-up-e .ui-btn-inner,
.ui-btn-hover-e .ui-btn-inner,
.ui-btn-down-e .ui-btn-inner {
  padding: 0px 6px;
  line-height: 24px;
  font-size: 15px;
}

.ui-btn-hover-e {
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
.ui-btn-down-e {
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.mobi-listview .ui-btn-up-c {
  border-bottom: none;
  border-left: none;
  border-right: none;
  
}

.ui-btn-left {
  float: left;
}
.people-toggle {
  margin: 0;
}

.mobi-person-role {
  margin: 0;
  padding: 0;
  font-size: .8em;
}

.detail-header .my-profile-item-icon {
  margin: 6px;
}

/* loading icon */
.ui-icon-loading {
	background-image: url(images/ajax-loader.gif);
}
.ui-loader { 
	opacity: 1;
}
.ui-body-a {
	font-weight: normal;
}

