.ui-btn-corner-none {	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

div.layout-header {
	position: relative;
	min-height: 40px;
}
div.layout-header .branding-header-logo {
	position: absolute;
	top: 0px;
	left: 5px;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
div.layout-header ul {
	float: right;
	display: none;
	width: 100%;
}
div.layout-header .button-menu {
	float: right;
	height: 40px;
	line-height: 40px;
	padding: 0 8px;
}
div.layout-header .menu-active {
	background-color: #fff;
}
.layout-header li {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0;
	border-radius: 0px;
}
/* Mobile List View base classes*/
.mobi-listview li a {
	display: block;
	width: 100%;
	height: 100%;
	font-weight: normal;
}
.mobi-listview span {
	display: block;
	line-height: 1.2em;
}
.mobi-listview .mobi-date {
	position: absolute;
	top: 4px;
	right: 10px;
	font-size: 80%;
}

.mobi-listview .mobi-title {
	font-weight: bold;
	font-size: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0.1em;
}

/* Activity list view */
.mobi-listview .mobi-activity-title {
	font-weight: bold;
	font-size: 105%;
	margin-top: 0.2em;
	text-overflow: ellipsis;
	overflow: hidden;
}
.view-activity .mobi-course-title {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 80%;
	margin-top: 0.3em;
	padding-bottom: 5px;
	font-style: italic;
}
.view-activity .mobi-summary {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 105%;
}

/* Discussion list view */
.view-discussion .mobi-title {
}
.view-discussion .mobi-response-count {
	font-size: 70%;
	font-weight: bold;
}
.view-discussion .mobi-your-responses {
	font-size: 70%;
	font-style: italic;
	margin-top: 0.2em;
}
.view-discussion .mobi-icon-response-count {
	position: absolute;
	color: #fff;
	background-color: #666;	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	right: 26px;
	top: 30%;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	font-size: 90%;
	min-width: 20px;
	text-align: center;
}
.view-discussion .mobi-icon-arrow-r {
	position: absolute;
	color: #666;
	font-weight: bold;
	right: 10px;
	top: 30%;
}
.view-discussion .ui-icon-arrow-r {
	display: none;
}

/* Discussion detail view */
.header-discussion-detail {
	min-height: 45px;
}

.header-discussion-detail .mobi-title {
	float: left;
	margin-top: 10px;
	padding-left: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 60%;
}
.header-discussion-detail .icon-thread {
	position: absolute;
	top: 2px;
	right: 5px; 
	background-color: #fff; 
	width: 45px;
	height: 45px; 
	overflow: hidden;
	display: none;
}

#pageDiscussionTopicDetail .container-discussion-detail {
	margin: 0px;
	padding: 0px;
}
.container-discussion-detail {
	padding-top: 0px;
	margin-top: 0px;
}
.container-discussion-detail .container-topicinfo {
	padding-left: 30px;
	margin-top: 5px;
	padding-bottom: 5px;
	font-size: 90%;
	border-bottom: 1px solid black;
	position: relative;
}
.container-discussion-detail p {
	margin: 0px;
	padding: 0px;
	padding-bottom: 0.2em;
}
.container-discussion-detail .mobi-title {
	font-weight: bold;
}
.container-discussion-detail .mobi-author {
	margin-left: 10px;
	font-style: italic;
}
.container-discussion-detail .mobi-total-responses {
	font-weight: bold;
	margin-left: 10px;
}
.container-discussion-detail .mobi-date {
	position: absolute;
	top: 8%;
	right: 10px;
	font-size: 90%;
}
.container-discussion-detail .mobi-unread-responses {
	position: absolute;
	color: #fff;
	background-color: #666;	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	right: 15px;
	top: 26px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	font-size: 90%;
	min-width: 20px;
	text-align: center;
}
#pageDiscussionTopicDetail .mobi-unread-responses {
	top: 9px;
}

.container-discussion-detail .container-message {
	border-bottom: 1px solid black;
	padding-left: 10px;
	padding-right: 30px;
	font-size: 90%;
	padding-top: 5px;
	position: relative;
	padding-bottom: 5px;
	height: 4.4em;
	overflow: hidden;
}
.container-discussion-detail .container-message-open {
	height: auto;
}

.container-message p {
	margin-bottom: 0.2em;
	line-height: 1.2em;
}
.container-discussion-detail div {
}
.container-discussion-detail .container-message div.layout-button-expand {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	color: #fff;
	background-color: #666;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}

.container-discussion-detail .container-response {
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
}

.container-discussion-detail .container-threads {
	font-size: 80%;
}
.container-discussion-detail .mobi-summary {
	text-overflow: ellipsis;
	overflow: hidden;
}

/* course filter for discussion view */

/* activity detail view */

#pageActivityDetail .ui-btn-left {
	float: left;	
	width: 85px;
}

#pageActivityDetail .container-topicinfo {
	float: left;
	margin: .5em 0 0;
	width: 200px;
}

.container-topicinfo .mobi-course-title,
.container-topicinfo .mobi-activity-type {
	font-weight: bold;
	margin: 0;
	padding: 0 0 0.2em;
	text-transform: capitalize;
}

.container-topicinfo .mobi-activity-type {
	font-size: 20px;
	color: #2e3a81;
}

#container-activity-detail {
	background-color: #fff;
	border: 1px solid #fff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #7c7e79 5px 5px 5px;
	-moz-box-shadow: #7c7e79 5px 5px 5px;
	box-shadow: #7c7e79 5px 5px 5px;
	clear: left;
}

#container-activity-detail p {
	 margin: 0 0 0 35px;
   	 padding: 0 0 0.2em;
}

#container-activity-detail .mobi-activity-title {
	color: #347BAD;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: capitalize;
}

#container-activity-detail .mobi-activity-time {
	font-style: italic;
}

#btn-viewall-activity {
	margin-left: 0;
	text-transform: capitalize;
}

/* activity detail view */

.container-navbar .ui-select {
	width: 100%;
}
.container-navbar .ui-field-contain {
	padding: 0px;
	margin: 0px;
}
.container-navbar .ui-select,
.container-navbar .ui-select > *  {
	margin: 0px;
}
.container-navbar .ui-btn-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.container-navbar .ui-shadow {	
	box-shadow: 0px 0px 0px 	rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 0px 	rgba(0,0,0,.3);
}
.container-navbar .ui-icon {
	margin-top: -10px;
}

/*
 * Bookmark popup
 */
.bookmark-popup {
	display: none;
	width: 100px;
	height: 75px;
	background-color: #ccc;
	border: 1px solid #000;
	position: absolute;
	top: 0px;
	left: 0px;
}
.bookmark-popup h3 {
	font-size: 80%;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}

.bookmark-popup p {
	font-size: 70%;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}


.clear {
	clear: both;
}

.ui-fluid, 
.min-width-480px .ui-fluid .ui-controlgroup-controls {
	display: table; 
	width: 100%; 
}

.ui-table-row {
	display: table-row;
}

.ui-fluid .ui-btn {
	display: table-cell; 
	text-align: center; 
}

.ui-even-2 .ui-btn {
	width: 50%;
}

.ui-fluid .ui-btn .ui-btn-inner { width: 100%; padding: 0.6em 0px; }

.ui-fluid .ui-controlgroup-controls { width: 100%; display: table; }
.ui-fluid .ui-checkbox, .ui-fluid .ui-radio { display: table-cell; }
.ui-fluid .ui-checkbox label, .ui-fluid .ui-radio label { width: 100%;display: block; text-align: center; }

