/*
msite.css: Main CSS file for msite.  
*/

/* Generic styles across all views & elements */

.mobi-hidden {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;
	display: none;
	overflow: hidden;
}
.mobi-hidden * {
	display: none;
}

.clear {
	clear: both;
	height: 1px;
	overflow: hidden;
}

.ui-fluid, 
.min-width-480px .ui-fluid .ui-controlgroup-controls {
	display: table; 
	width: 100%; 
}

.ui-table-row {
	display: table-row;
}

.ui-fluid .ui-btn {
	display: table-cell; 
	text-align: center; 
}

.ui-even-2 .ui-btn {
	width: 50%;
}

.ui-fluid .ui-btn .ui-btn-inner { width: 100%; padding: 0.6em 0px; }

.ui-fluid .ui-controlgroup-controls { width: 100%; display: table; }
.ui-fluid .ui-checkbox, .ui-fluid .ui-radio { display: table-cell; }
.ui-fluid .ui-checkbox label, .ui-fluid .ui-radio label { width: 100%;display: block; text-align: center; }

.ui-controlgroup {
  margin: 8px 0 0 0;
}
.ui-icon-dropdown {
  background: url(../images/icon_dropdown_arrow.png) center 6px no-repeat;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ui-btn-corner-none {	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* Begin: Application Header */
div.layout-header {
	position: relative;
	min-height: 40px;
}
div.layout-header .branding-header-logo {
	position: absolute;
	top: 0px;
	left: 5px;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
div.layout-header ul {
	float: right;
	display: none;
	width: 100%;
}
div.layout-header .button-menu {
	float: right;
	height: 40px;
	line-height: 40px;
	padding: 0 8px;
}
div.layout-header .menu-active {
	background-color: #fff;
}
.layout-header li {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0;
	border-radius: 0px;
}
/* End: Application Header */


/* Begin: Mobile List View base classes*/
.mobi-listview li {
	border-top: solid 1px #CCC;
}

.mobi-listview li a {
	display: block;
	width: 100%;
	height: 100%;
	font-weight: normal;
}
.mobi-listview span {
	display: block;
	line-height: 1.2em;
}
.mobi-listview .mobi-date {
	position: absolute;
	top: 12px;
	right: 10px;
	font-size: 80%;
	color: #333;
}
.mobi-listview .ui-btn-text {
  text-shadow: none;
}

.mobi-listview .mobi-title,
.activity-info-header .mobi-title {
	font-weight: bold;
	font-size: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0.1em;
}
.mobi-listview li.dropbox-submission,
.container-activity-detail .dropbox-submission {
	background-image: url(../images/icon_dropbox.png);  
}

.mobi-listview li.exam-submission,
.container-activity-detail .exam-submission {
	background-image: url(../images/icon_exam.png);  
}

.mobi-listview li.person {
	background-image: url(../images/icon_person.png);  
}
/* Icons for list view */
.mobi-listview li.responses,
.mobi-listview li.no-responses,
.mobi-listview li.hot-topic,
.mobi-listview li.course,
.mobi-listview li.grade,
.mobi-listview li.thread-post,
.mobi-listview li.thread-topic,
.mobi-listview li.dropbox-submission,
.mobi-listview li.exam-submission,
.mobi-listview li.person {
  padding: 0 0 0 30px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
/* End: Mobile List View base classes */

/* Begin: List View overrides for course gradebook view */
.view-course-grades .mobi-listview .mobi-date {
	position: relative;
	top: auto;
	right: auto;
	color: #333;
}
/* End: List View overrides for course gradebook view */

/* Begin: List View overrides for activity view */
.activity-info-header {
	padding: 0 0 0 40px;
}
.view-activity .mobi-listview li.responses,
.view-activity .mobi-listview li.no-responses,
.view-activity .mobi-listview li.hot-topic,
.view-activity .mobi-listview li.course,
.view-activity .mobi-listview li.grade,
.view-activity .mobi-listview li.thread-post,
.view-activity .mobi-listview li.thread-topic,
.view-activity .mobi-listview li.dropbox-submission,
.view-activity .mobi-listview li.exam-submission,
.view-activity .mobi-listview li.person {
	background-position: 10px 16px;
}

.activity-info-header .mobi-date {
  font-size: .8em;
  font-style: italic;
}
/* End: List View overrides for activity view */



/* Begin: Discussions views (discussion topics, discussion topic detail, discussion thread detail) */
.topic-header .responses,
.topic-header .no-responses,
.topic-header .hot-topic {
	background-position: 6px 0px;
	background-repeat: no-repeat;
}

.mobi-listview li.responses,
.mobi-listview li.thread-topic,
.topic-header .responses {
	background-image: url(../images/icon_responses.png);
}

.mobi-listview li.no-responses,
.mobi-listview li.thread-post,
.topic-header .no-responses {
	background-image: url(../images/icon_no_responses.png);
}

.mobi-listview li.hot-topic,
.topic-header .hot-topic {
	background-image: url(../images/icon_hot_topic.png);
}

.mobi-listview li.course {
	background-image: url(../images/icon_course.png);
}

.mobi-listview li.grade,
.container-activity-detail .grade {
	background-image: url(../images/icon_grade.png);
}
#pageDiscussionThreadDetail2 .view-discussion,
#pageDiscussionThreadDetail .view-discussion {
	font-size: 80%;
}
.view-discussion .mobi-summary,
.view-activity .mobi-summary,
.view-activity .mobi-title, 
.view-course-announcements .mobi-summary,
.view-course-announcements .mobi-title,
.view-whatsdue .mobi-summary,
.view-whatsdue .mobi-title {
	padding-right: 50px;
}
.portrait .view-activity .mobi-title,
.portrait .view-whatsdue .mobi-title,
.portrait .view-course-announcements .mobi-title {
	width: 65%;
	padding-right: 0px;
}
.view-discussion .mobi-title {
	position: relative;
	top: -4px; 
	width: 65%;
}
.landscape .view-discussion .mobi-title {
	width: 77%;
}
.view-discussion .mobi-response-count {
	font-size: 70%;
	font-weight: bold;
	color: #333;
}
.view-discussion .mobi-your-responses,
.mobi-your-responses,
.mobi-your-course{
	font-size: 70%;
	font-style: italic;
	margin-top: 0.2em;
	color: #333;
}
.view-discussion .mobi-icon-response-count {
	position: absolute;
	color: #fff;
	background-color: #333884;	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	right: 30px;
	top: 39%;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	font-size: 90%;
	min-width: 20px;
	text-align: center;
}
.view-discussion .mobi-icon-arrow-r {
	position: absolute;
	color: #666;
	font-weight: bold;
	right: 10px;
	top: 28%;
	background: url(../images/icon_list_arrow.png) center center no-repeat;
}

li .ui-icon-arrow-r {
	background: url(../images/icon_list_arrow.png) center bottom no-repeat;
}

.header-discussion-detail {
	min-height: 40px;
}

.header-discussion-detail .mobi-title {
	float: left;
	margin-top: 10px;
	padding-left: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 60%;
	line-height: 16px;
	text-shadow: rgba(0,0,0,.8) 0 -1px 0;
	font-weight: bold;
}
.header-discussion-detail .icon-thread {
	position: absolute;
	top: 2px;
	right: 5px; 
	background-color: #fff; 
	width: 45px;
	height: 45px; 
	overflow: hidden;
	display: none;
}

#pageDiscussionTopicDetail .container-discussion-detail {
	margin: 0px;
	padding: 0px;
}
.container-discussion-detail {
	padding-top: 0px;
	margin-top: 0px;
}
.container-discussion-detail .container-topicinfo {
	padding-left: 40px;
	padding-bottom: 10px;
	font-size: 90%;
	border-bottom: 1px solid #C2BFB5;
	position: relative;
	-webkit-box-shadow: rgba(255,255,255,.8) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,.8) 0 1px 0;
	box-shadow: rgba(255,255,255,.8) 0 1px 0;
}
.container-discussion-detail p {
	margin: 0px;
	padding: 0px;
	padding-bottom: 0.2em;
}
.container-discussion-detail .mobi-title {
	font-weight: bold;
}
.container-discussion-detail .mobi-author {
	padding-left: 18px;
	font-style: italic;
	background: url(../images/icon_author.png) 0px 0px no-repeat;
}
.container-discussion-detail .mobi-total-responses {
	font-weight: bold;
	font-size: 12px;
}
.container-discussion-detail .mobi-date {
	position: absolute;
	top: 8%;
	right: 10px;
	font-size: 90%;
}
.container-discussion-detail .mobi-unread-responses {
	position: absolute;
	color: #fff;
	background-color: #333884;	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	right: 15px;
	top: 26px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	font-size: 90%;
	min-width: 20px;
	text-align: center;
}
#pageDiscussionTopicDetail .mobi-unread-responses {
	top: 9px;
}

.container-discussion-detail .container-message {
	border-bottom: 1px solid #C2BFB5;
	position: relative;
	-webkit-box-shadow: rgba(255,255,255,.8) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,.8) 0 1px 0;
	box-shadow: rgba(255,255,255,.8) 0 1px 0;
	padding: 10px 30px 10px 10px;
	font-size: 90%;
	position: relative;
	height: 4.4em;
	overflow: hidden;
}
.container-discussion-detail .container-message-open {
	height: auto;
}

.container-message p {
	margin-bottom: 0.2em;
	line-height: 1.2em;
}
.container-discussion-detail div {
}
.container-discussion-detail .container-message div.layout-button-expand {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	color: #fff;
	background: url(../images/icon_expand_up.png) 0px 0px no-repeat;
	overflow: hidden;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}

.container-discussion-detail .container-response {
	background-image: -moz-linear-gradient(top, 
							rgba(0,0,0,.1), 
							rgba(0,0,0,.6));
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		rgba(0,0,0,.1)),
		color-stop(1, 		rgba(0,0,0,.6)));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(0,0,0,.1)', EndColorStr='rgba(0,0,0,.6)')";
	padding-top: 7px;
}

.container-discussion-detail .container-response textarea{
	width: 92%;
	color: #999;
	/*padding: 6px 10px 2px 10px;*/
	margin: 6px 6px 16px 6px;
}
.landscape .container-discussion-detail .container-response textarea {
	width: 95%;
}

textarea.textarea-response-title {
	height: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.min-width-480px textarea.textarea-response-body,
.container-response textarea.textarea-response-body { 
	display: none;
	height: 6em;
	margin-top: 10px;
}

.container-response .container-response-buttons {
	display: none;
}

.container-response .ui-btn {
	float: left;
	width: 46%;
}

.container-response .response-cancel {
	margin-right: 2%;
}

.container-discussion-detail .container-threads {
	font-size: 80%;
}
.container-discussion-detail .mobi-summary {
	text-overflow: ellipsis;
	overflow: hidden;
}
#pageDiscuss .ui-select .ui-btn {
  margin: 0;
  padding: 0;
}

#pageDiscuss .ui-select .ui-btn .ui-btn-text {
  padding: 6px 0 0 4px;
}

/* End: Discussions views (discussion topics, discussion topic detail, discussion thread detail) */

/* Begin: Grade Book Detail view */

#pageGradebookDetail .container-activity-detail p {
	padding-left: 30px;
}
#pageGradebookDetail .container-activity-detail .grade {
	height: 1.6em;
	font-weight: bold;
}
/* End: Grade Book Detail view */



/* Begin: Activity list view */
.view-whatsdue {
	display: none;
}
.mobi-listview .mobi-activity-title {
	font-weight: bold;
	font-size: 105%;
	margin-top: 0.2em;
	text-overflow: ellipsis;
	overflow: hidden;
}
.view-activity .mobi-course-title,
.view-whatsdue .mobi-course-title {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 70%;
	margin-top: 0.2em;
	padding-bottom: 5px;
	font-style: italic;
	color: #333;
}
.view-discussion .mobi-summary,
.view-activity .mobi-summary,
.view-course-announcements .mobi-summary,
.view-whatsdue .mobi-summary,
.activity-info-header .mobi-summary {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 95%;
	color: #333;
}
/* End: Activity list view */




/* Begin: Course Announcements List view */
.view-course-announcements .mobi-summary {
	width: 70%;
}
.landscape .view-course-announcements .mobi-summary {
	width: 85%;
}
/* End: Course Announcements List view */



/* Begin: Activity Detail view */
.container-activity-detail .dropbox-submission,
.container-activity-detail .grade,
.container-activity-detail .exam-submission,
.container-activity-detail .assignment-submission {
  background-position: 0 0;
  background-repeat: no-repeat;
}

#pageActivityDetail .ui-btn-left {
	float: left;	
	width: 85px;
}

#pageActivityDetail .ui-content {
	padding: 6px;
}

#pageActivityDetail .container-topicinfo,
.detail-header .container-topicinfo {
	float: left;
	margin: .5em 0 0;
	width: 200px;
	padding-left: 4px;
}

.detail-header {
	background: url(../images/background_content.png);
}

.container-topicinfo .mobi-course-title {
	font-size: .8em;
}

.container-topicinfo .mobi-course-title,
.container-topicinfo .mobi-activity-type {
	font-weight: bold;
	margin: 0;
	padding: 0 0 0.2em;
	text-transform: capitalize;
}

.container-topicinfo .mobi-activity-type {
	font-size: 20px;
	color: #2e3a81;
}

.container-topicinfo .mobi-student-name {
	font-size: 20px;
	color: #2e3a81;
	font-weight: bold;
	margin: 0;
}

.container-activity-detail {
	background-color: #fff;
	border: 1px solid #fff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,.3) 0 0 5px;
	-moz-box-shadow: #7c7e79 5px 5px 5px;
	box-shadow: #7c7e79 5px 5px 5px;
	clear: left;
	padding: 10px;
}

.container-activity-detail p {
	 margin: 0 0 0 0;
}

.container-activity-detail .mobi-activity-title {
	color: #347BAD;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: capitalize;
}

#btn-viewall-activity {
	margin-left: 0;
	text-transform: capitalize;
}

/* End: Activity Detail view */

/* Begin: Navigation Bar and dropdown menu */

.container-navbar .ui-select {
	width: 100%;
}
.container-navbar .ui-field-contain {
	padding: 0px;
	margin: 0px;
}
.container-navbar .ui-select,
.container-navbar .ui-select > *  {
	margin: 0px;
}
.container-navbar .ui-btn-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.container-navbar .ui-shadow {	
	box-shadow: 0px 0px 0px 	rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 0px 	rgba(0,0,0,.3);
}
.container-navbar .ui-icon {
	margin-top: -10px;
}
/* End: Navigation Bar and dropdown menu */

/* Begin: Profile page */
 
 #pageProfile li.course .ui-icon {
 	display: none;
 }
 
 #pageProfile li.course {
 	font-size: 16px;
 	padding: 0.7em 75px 0.7em 15px;
 }
 
 #pageProfile span.mobi-your-course {
 	font-weight: normal;
 }
/* End: Profile page */
 
/* Begin: Person page*/

#pagePerson .view-profile {
	padding: 3px 5px 4px;
}

 .container-personinfo {
	float: left;
	margin: 5px 0 0;
	padding-left: 4px;
	width: 200px;
}

.container-personinfo .mobi-student-name {
	font-size: 20px;
	color: #2e3a81;
	font-weight: bold;
	margin: 0;
}

#pagePerson .mobi-student-class {
	color: #333333;
	display: block;
	font-size: 70%;
	font-weight: bold;
	margin: 0;
}
/* End: Person page*/

/* Begin: Bookmark popup */
.bookmark-popup {
	display: none;
	width: 100px;
	height: 75px;
	background-color: #ccc;
	border: 1px solid #000;
	position: absolute;
	top: 0px;
	left: 0px;
}
.bookmark-popup h3 {
	font-size: 80%;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}

.bookmark-popup p {
	font-size: 70%;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}
.bookmark-popup p.button-close {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 100%;
	color: #fff;
	background-color: #666;
}
/* End: Bookmark popup */

/* Begin: Course Detail View */
.portrait #pageCourseDetail .container-topicinfo {
	width: 250px;
}
.landscape #pageCourseDetail .container-topicinfo {
	width: 400px;
}
/* End: Course Detail View */