/*
msite.css: Main CSS file for msite.  
*/

/* Generic styles across all views & elements */

.mobi-hidden {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;
	display: none;
	overflow: hidden;
}
.mobi-hidden * {
	display: none;
}

.clear {
	clear: both;
	height: 1px;
	overflow: hidden;
}

.ui-fluid, 
.min-width-480px .ui-fluid .ui-controlgroup-controls {
	display: table; 
	width: 100%; 
}

.ui-table-row {
	display: table-row;
}

.ui-fluid .ui-btn {
	display: table-cell; 
	text-align: center; 
}

.ui-even-2 .ui-btn {
	width: 50%;
}

.ui-fluid .ui-btn .ui-btn-inner { 
	width: 100%; 
	padding: 0.6em 0px; 
}

.ui-fluid .ui-controlgroup-controls { 
	width: 100%; 
	display: table; 
}
.ui-fluid .ui-checkbox, .ui-fluid .ui-radio { 
	display: table-cell; 
}
.ui-fluid .ui-checkbox label, .ui-fluid .ui-radio label { 
	width: 100%;
	display: block; 
	text-align: center; 
}

.ui-controlgroup {
  margin: 8px 0 0 0;
}

.ui-icon-dropdown {
  background: url(../images/icon_dropdown_arrow.png) center 6px no-repeat;
	/*
  background-image: url(../images/icon_sprite_arrow.png); 
  background-repeat: no-repeat;
  background-position: center 6px;
  */
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ui-btn-corner-none {	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* Begin: Login page */
#loginFormSection h1.signon_logo {
	width: 201px;
	height: 100px;
	text-indent: -9999px;
	margin: 0 auto;
}
#loginForm .authFields ul li,
#registerPage .authFields ul li {
	background: none;
	border: none;
}

#loginForm .authFields ul li label,
#registerPage .authFields ul li label {
	padding-left: 2px;
	font-weight: bold;
	line-height: 40px;
}

#loginForm .authFields ul li .ui-checkbox label {
	background: transparent;
	border: none;
	margin: -30px 0 0 0;
	width: 110%;
}

#loginForm .authFields ul li .ui-checkbox label .ui-btn-text {
    padding-left: 15px;
    position: relative;
    top: 7px;
}

#loginForm .authFields ul li .ui-checkbox label .ui-icon-checkbox-on,
#loginForm .authFields ul li .ui-checkbox label .ui-icon-checkbox-off {
	width: 33px;
	height: 33px;
	background-size: 32px 33px;
}

/* Sign On Button */
#loginFormContainer .ui-btn-up-c,
#registerPage .ui-btn-up-c {
	border: none;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
/* End: Login page */

/* Begin: Registration Page */
#registerPage ul.steps {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-top: 15px;
	padding-right: 15px;
}
#registerPage ul.steps li {
	padding-bottom: 15px;
	text-shadow: none;
}

#registerPage p {
	text-shadow: none;
	font-weight: bold;
}
/* End: Registration Page */


/* Begin: Application Header */
div.layout-header {
	position: relative;
	min-height: 40px;
}
div.layout-header .branding-header-logo {
	position: absolute;
	top: 0px;
	left: 5px;
	margin: 0px;
	padding: 0px;
	color: #fff;
}
div.layout-header ul {
	float: right;
	display: none;
	width: 100%;
}
div.layout-header .button-menu {
	float: right;
	height: 40px;
	line-height: 40px;
	padding: 0 8px;
	font-size: .9em;
}
div.layout-header .menu-active {
	background-color: #fff;
}
.layout-header li {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0;
	border-radius: 0px;
	border: none;
	text-shadow: none;
}
.layout-header li.home .ui-btn-text {
	line-height: 25px;
	padding: 0 0 0 32px;
}

.layout-header li.my_profile .ui-btn-text {
	line-height: 26px;
	padding: 0 0 0 32px;
}
.layout-header li.settings {
	display: none;
}
.layout-header li.settings .ui-btn-text {
	line-height: 26px;
	padding: 0 0 0 32px;
}

.layout-header li.signout .ui-btn-text {
	line-height: 26px;
	padding: 0 0 0 32px;
}
.layout-header li.ui-btn-hover-c,
.layout-header li.ui-btn-up-c,
.layout-header li.ui-btn-down-c {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
.layout-header li.ui-btn-hover-c .ui-btn-text a,
.layout-header li.ui-btn-down-c .ui-btn-text a {
	text-shadow: none;
}

.layout-header li .ui-btn-inner span.ui-icon {
	display: none;
}

/* End: Application Header */

/* Begin: Navigation Bar and dropdown menu */

.container-navbar .ui-select {
	width: 100%;
}
.container-navbar .ui-field-contain {
	padding: 0px;
	margin: 0px;
}
.container-navbar .ui-select,
.container-navbar .ui-select > *  {
	margin: 0px;
}
.container-navbar .ui-btn-corner-all {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.container-navbar .ui-shadow {	
	box-shadow: 0px 0px 0px 	rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 0px 	rgba(0,0,0,.3);
}
.container-navbar .ui-icon {
	margin-top: -10px;
}
.container-navbar ul {
	padding: 4px 4px 0 4px;
}

.container-navbar ul li {
	padding: 2px;
}

.container-navbar ul li .ui-btn-active,
.container-navbar ul li .ui-btn-up-c,
.container-navbar ul li .ui-btn-over-c,
.container-navbar ul li .ui-btn-hover-c {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-indent: -9999px;
	height: 38px;
}

.container-navbar ul li .ui-btn-up-c,
.container-navbar ul li .ui-btn-over-c,
.container-navbar ul li .ui-btn-hover-c,
.container-navbar ul li .ui-btn-down-c {
	background: none;
	border: none;
}

.container-navbar ul li .ui-icon,
.container-navbar ul li .ui-btn-active .ui-icon,
.container-navbar ul li .ui-btn-up-c .ui-icon,
.container-navbar ul li .ui-btn-over-c .ui-icon,
.container-navbar ul li .ui-btn-hover-c .ui-icon,
.container-navbar ul li .ui-btn-down-c .ui-icon {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: 0 auto;
	padding: 0;
}

.container-navbar ul li .ui-btn-text {
	display: none;
}
.container-navbar ul .ui-btn-inner {
	position: relative;
}
.container-navbar ul li .ui-icon {
	position: relative;
	left: 0px;
	top: -70%;
	display: block;
}

/* grid c (25/25/25/25) */
.container-navbar .ui-grid-c .ui-block-a, 
.container-navbar .ui-grid-c .ui-block-b, 
.container-navbar .ui-grid-c .ui-block-c, 
.container-navbar .ui-grid-c .ui-block-d { 
	width: 25%; 
	padding: 0; 
}
/* End: Navigation Bar and dropdown menu */


/* Begin: Mobile List View base classes*/
.mobi-listview li a {
	display: block;
	width: 100%;
	height: 100%;
	font-weight: normal;
}
.mobi-listview span {
	display: block;
	line-height: 1.2em;
}
.mobi-listview .mobi-date {
	position: absolute;
	top: 12px;
	right: 10px;
	font-size: 80%;
	color: #333;
}
.mobi-listview .ui-btn-text {
	text-shadow: none;
}

.mobi-listview .mobi-title,
.activity-info-header .mobi-title {
	font-weight: bold;
	font-size: 90%;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0.1em;
}
.mobi-listview .mobi-title,
.mobi-listview .mobi-summary {
	font-size: 80%;
}
.mobi-listview .listitem-viewall .mobi-title {
	position: relative;
	top: 0px;
}
.mobi-listview li span.mobi-grade {
	position: absolute;
	right: 40px;
	top: 20px;
	font-weight: bold;
}

.mobi-listview li .mobi-response-count {
	padding-left: 16px;
	display: block;
}

.mobi-instructor-name {
	padding-left: 16px;
	display: block;
	font-size: 70%;
	font-weight: bold;
	margin: 0;
	padding-bottom: 10px;
}

.mobi-student-role{
	display: block;
	font-size: 70%;
	font-weight: bold;
	margin: 0 0 5px 0;
}
.mobi-listview li.ui-li-divider {
	padding-left: 10px;
}

.mobi-listview li .mobi-author {
	padding-left: 18px;
	font-style: italic;
}
.topic-header {
  padding-top: 10px;
}

/* Icon positioning for list view */
.mobi-listview li.responses,
.mobi-listview li.no-responses,
.mobi-listview li.hot-topic,
.mobi-listview li.course,
.mobi-listview li.grade,
.mobi-listview li.thread-post,
.mobi-listview li.thread-topic,
.mobi-listview li.dropbox-submission,
.mobi-listview li.exam-submission,
.mobi-listview li.person,
.mobi-listview li.discussion, 
.mobi-listview li.assignment {
  padding: 0 0 0 30px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
/* End: Mobile List View base classes */

/* Begin: List View overrides for course gradebook view */
.view-course-grades .mobi-listview .mobi-date {
	position: relative;
	top: auto;
	right: auto;
	color: #333;
}
/* End: List View overrides for course gradebook view */

/* Begin: List View overrides for activity view */
.activity-info-header {
	padding: 0 0 0 40px;
}
.view-activity {
	position: relative;
}
.view-activity .mobi-listview li.responses,
.view-activity .mobi-listview li.no-responses,
.view-activity .mobi-listview li.hot-topic,
.view-activity .mobi-listview li.course,
.view-activity .mobi-listview li.grade,
.view-activity .mobi-listview li.thread-post,
.view-activity .mobi-listview li.thread-topic,
.view-activity .mobi-listview li.dropbox-submission,
.view-activity .mobi-listview li.exam-submission,
.view-activity .mobi-listview li.person,
.view-activity .mobi-listview li.assignment {
	background-position: 10px 16px;
}

.view-activity .listview-activity li.responses,
.view-activity .listview-activity li.no-responses,
.view-activity .listview-activity li.hot-topic,
.view-activity .listview-activity li.course,
.view-activity .listview-activity li.grade,
.view-activity .listview-activity li.thread-post,
.view-activity .listview-activity li.thread-topic,
.view-activity .listview-activity li.dropbox-submission,
.view-activity .listview-activity li.exam-submission,
.view-activity .listview-activity li.person,
.view-activity .listview-activity li.assignment {
	background-position: 7px 6px;
}
div.view-whatsdue ul.listview-activity li.responses,
div.view-whatsdue ul.listview-activity li.no-responses,
div.view-whatsdue ul.listview-activity li.hot-topic,
div.view-whatsdue ul.listview-activity li.course,
div.view-whatsdue ul.listview-activity li.grade,
div.view-whatsdue ul.listview-activity li.discussion,
div.view-whatsdue ul.listview-activity li.thread-post,
div.view-whatsdue ul.listview-activity li.thread-topic,
div.view-whatsdue ul.listview-activity li.dropbox-submission,
div.view-whatsdue ul.listview-activity li.exam-submission,
div.view-whatsdue ul.listview-activity li.person,
div.view-whatsdue ul.listview-activity li.assignment {
	background-position: 7px 6px;
}
.view-activity .listview-activity li .listitem-activity {
	padding:0px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 3px;
}
.view-whatsdue .listview-activity li .listitem-activity {
	padding:0px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 3px;
}

.view-activity .mobi-listview .mobi-user,
.view-activity .mobi-listview .mobi-topicline {
	font-size: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-right: 55px;
	display: block;
	margin-bottom: 3px;
}

.mobi-topicline span {
	color: #333;
}

.mobi-user span {
	font-weight: bold;
}

.activity-info-header .mobi-date {
  font-size: .8em;
  font-style: italic;
}

.listview-activity .thread-post a span,
.listview-activity .thread-topic a span {
	display: inline;
	color: #333;
}
.listview-activity .thread-post a .mobi-course-title,
.listview-activity .thread-topic a .mobi-course-title {
	position: relative;
	top: -3px;
}

/* End: List View overrides for activity view */

/* Begin: List View overrides for Upcoming view */
.view-whatsdue .mobi-listview li.responses,
.view-whatsdue .mobi-listview li.no-responses,
.view-whatsdue .mobi-listview li.hot-topic,
.view-whatsdue .mobi-listview li.course,
.view-whatsdue .mobi-listview li.grade,
.view-whatsdue .mobi-listview li.thread-post,
.view-whatsdue .mobi-listview li.thread-topic,
.view-whatsdue .mobi-listview li.dropbox-submission,
.view-whatsdue .mobi-listview li.exam-submission,
.view-whatsdue .mobi-listview li.person,
.view-whatsdue .mobi-listview li.discussion,
.view-whatsdue .mobi-listview li.assignment {
	background-position: 10px 16px;
}

.view-whatsdue .mobi-listview li.exam-submission span.ui-icon {
	display: none;
}
/* End: List View overrides for Upcoming view */


/* Begin: Discussions views (discussion topics, discussion topic detail, discussion thread detail) */
.topic-header .responses,
.topic-header .no-responses,
.topic-header .hot-topic {
	background-position: 6px 0px;
	background-repeat: no-repeat;
}


#pageDiscussionThreadDetail2 .view-discussion,
#pageDiscussionThreadDetail .view-discussion {
	font-size: 80%;
}
.view-discussion .mobi-summary,
.view-activity .mobi-summary,
.view-activity .mobi-title, 
.view-course-announcements .mobi-summary,
.view-course-announcements .mobi-title,
.view-whatsdue .mobi-summary,
.view-whatsdue .mobi-title {
	padding-right: 50px;
}
.portrait .view-activity .mobi-title,
.portrait .view-whatsdue .mobi-title,
.portrait .view-course-announcements .mobi-title {
	width: 65%;
	padding-right: 0px;
}
.view-discussion .mobi-title {
	position: relative;
	top: -4px; 
	width: 65%;
}
.landscape .view-discussion .mobi-title {
	width: 77%;
}
.view-discussion .mobi-response-count {
	font-size: 70%;
	font-weight: bold;
	color: #333;
}
.view-discussion .mobi-your-responses,
.mobi-your-responses,
.mobi-your-course{
	font-size: 70%;
	font-style: italic;
	margin-top: 0.2em;
	color: #333;
}
.view-discussion .mobi-icon-response-count {
	position: absolute;	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	right: 30px;
	top: 39%;
	padding-left: 3px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-top: 1px;
	font-size: 90%;
	min-width: 20px;
	text-align: center;
	font-weight: bold;
}
.view-discussion .mobi-icon-arrow-r {
	position: absolute;
	font-weight: bold;
	right: 10px;
	top: 28%;
}

li .ui-icon-arrow-r {
	background: url(../images/icon_list_arrow.png) center bottom no-repeat;
}

.header-discussion-detail {
	min-height: 40px;
}

.header-discussion-detail .mobi-title {
	float: left;
	margin-top: 10px;
	padding-left: 70px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 60%;
	line-height: 16px;
	text-shadow: rgba(0,0,0,.8) 0 -1px 0;
	font-weight: bold;
}
.header-discussion-detail .icon-thread {
	position: absolute;
	top: 2px;
	right: 5px; 
	background-color: #fff; 
	width: 45px;
	height: 45px; 
	overflow: hidden;
	display: none;
}

#pageDiscussionTopicDetail .container-discussion-detail {
	margin: 0px;
	padding: 0px;
}
.container-discussion-detail {
	padding-top: 0px;
	margin-top: 0px;
}
.container-discussion-detail .container-topicinfo {
	padding-left: 40px;
	padding-bottom: 10px;
	font-size: 90%;
	border-bottom: 1px solid #C2BFB5;
	position: relative;
	-webkit-box-shadow: rgba(255,255,255,.8) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,.8) 0 1px 0;
	box-shadow: rgba(255,255,255,.8) 0 1px 0;
}
.container-discussion-detail p {
	margin: 0px;
	padding: 0px;
	padding-bottom: 0.2em;
}
.container-discussion-detail .mobi-title {
	font-weight: bold;
}
.container-discussion-detail .mobi-author {
	padding-left: 18px;
	font-style: italic;
	background: url(../images/icon_author.png) 0px 0px no-repeat;
}
.container-discussion-detail .mobi-total-responses {
	font-weight: bold;
	font-size: 12px;
}
.container-discussion-detail .mobi-date {
	position: absolute;
	top: 8%;
	right: 10px;
	font-size: 90%;
}
.container-discussion-detail .mobi-unread-responses {
	position: absolute;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	right: 15px;
	top: 26px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	font-size: 90%;
	min-width: 20px;
	text-align: center;
}
#pageDiscussionTopicDetail .mobi-unread-responses {
	top: 9px;
}

.container-discussion-detail .container-message {
	border-bottom: 1px solid #C2BFB5;
	position: relative;
	-webkit-box-shadow: rgba(255,255,255,.8) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,.8) 0 1px 0;
	box-shadow: rgba(255,255,255,.8) 0 1px 0;
	padding: 10px 30px 10px 10px;
	font-size: 90%;
	position: relative;
	height: 4.4em;
	overflow: hidden;
}
.container-discussion-detail .container-message-open {
	height: auto;
}

.container-message p {
	margin-bottom: 0.2em;
	line-height: 1.2em;
}
.container-discussion-detail .container-message div.layout-button-expand {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 22px;
	height: 21px;
	color: #fff;
	background: url(../images/icon_sprite_arrow.png) 2px 5px no-repeat;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #ccc;
}
.container-discussion-detail .container-message-open div.layout-button-expand {
	background-position: 2px -17px;
}

.container-discussion-detail .container-response {
	background-image: -moz-linear-gradient(top, 
							rgba(0,0,0,.1), 
							rgba(0,0,0,.6));
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		rgba(0,0,0,.1)),
		color-stop(1, 		rgba(0,0,0,.6)));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(0,0,0,.1)', EndColorStr='rgba(0,0,0,.6)')";
	padding-top: 7px;
}

.container-discussion-detail .container-response textarea{
	width: 92%;
	color: #999;
	/*padding: 6px 10px 2px 10px;*/
	margin: 6px 6px 16px 6px;
}
.landscape .container-discussion-detail .container-response textarea {
	width: 95%;
}

#textarea-response {
  width: 95%;
}
textarea.textarea-response-title {
	height: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.min-width-480px textarea.textarea-response-body,
.container-response textarea.textarea-response-body { 
	display: none;
	height: 6em;
	margin-top: 10px;
}

.container-response .container-response-buttons {
	display: none;
}

.container-response .ui-btn {
	float: left;
	width: 46%;
}

.container-response .response-cancel {
	margin-right: 2%;
}

.container-discussion-detail .container-threads {
	font-size: 80%;
}
.container-threads .mobi-title,
.container-threads .mobi-listview .listitem-response .mobi-summary {
	font-size: 100%;
}
.container-discussion-detail .mobi-summary {
	text-overflow: ellipsis;
	overflow: hidden;
}
#pageDiscuss .ui-select .ui-btn {
	margin: 0;
	padding: 0;
}

#pageDiscuss .ui-select .ui-btn .ui-btn-text {
	padding: 6px 0 0 4px;
}

/* End: Discussions views (discussion topics, discussion topic detail, discussion thread detail) */

/* Begin: Grade Book Detail view */

#pageGradebookDetail .container-activity-detail p,
#pageGradebookDetail .container-activity-detail div {
	padding-left: 17px;
}
#pageGradebookDetail .container-activity-detail .grade {
	height: 1.6em;
	font-weight: bold;
}

#pageGradebookDetail .container-activity-detail .activity-detail-links {
	padding-left: 0px;
}
#pageGradebookDetail .container-activity-detail .activity-detail-links p {
    margin-left: -2px;
}
/* End: Grade Book Detail view */



/* Begin: Activity list view */
.view-whatsdue {
	display: none;
}
.mobi-listview .mobi-activity-title {
	font-weight: bold;
	font-size: 105%;
	margin-top: 0.2em;
	text-overflow: ellipsis;
	overflow: hidden;
}
.view-activity .mobi-course-title,
.view-whatsdue .mobi-course-title {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 70%;
	margin-top: 0.2em;
	padding-bottom: 5px;
	font-style: italic;
	color: #333;
}
.view-discussion .mobi-summary,
.view-activity .mobi-summary,
.view-course-announcements .mobi-summary,
.view-whatsdue .mobi-summary,
.activity-info-header .mobi-summary {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: 80%;
	color: #333;
}
/* End: Activity list view */




/* Begin: Course Announcements List view */
.view-course-announcements .mobi-summary {
	width: 70%;
}
.landscape .view-course-announcements .mobi-summary {
	width: 85%;
}
/* End: Course Announcements List view */

/* Begin: Activity Detail view */

.detail-link-file {
	padding: 8px 8px 8px 40px;
}

.detail-link {
  padding: 8px;
}
.container-activity-detail .dropbox-submission,
.container-activity-detail .grade,
.container-activity-detail .detail-grade,
.container-activity-detail .exam-submission,
.container-activity-detail .assignment-submission {
  background-position: 0 0;
  background-repeat: no-repeat;
}
.container-activity-detail .mobi-date {
	font-style: italic;
	padding-top: 5px;
}

#pageActivityDetail .ui-btn-left {
	float: left;	
	width: 85px;
}
#pageActivityDetail .detail-header .ui-btn-left {
	width: 60px;
}

#pageActivityDetail .detail-header .ui-btn-left {
	font-size: .9em;
}

.ui-content {
	clear: both;
}
#pageActivityDetail .ui-content {
	padding: 6px;
}

#pageActivityDetail .container-topicinfo,
.detail-header .container-topicinfo {
	float: left;
	margin: .5em 0 0;
	width: 200px;
	padding-left: 4px;
}

.detail-header .container-backbutton {
	margin: 0;
	padding: 0;
	margin-left: 10px;
	width: 60px;
	float: left;
}

.container-topicinfo .mobi-course-title {
	font-size: .7em;
	top: -3px;
}
.container-topicinfo .mobi-ends-at {
	font-size: 0.7em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -5px;
}

.container-topicinfo .mobi-course-title,
.container-topicinfo .mobi-activity-type {
	font-weight: bold;
	margin: 0;
	padding: 0;
	position: relative;
}

.container-topicinfo .mobi-activity-type {
	font-size: 20px;
	top: -6px;
}

.container-topicinfo .mobi-student-name {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

.container-activity-detail {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	clear: left;
	padding: 10px;
}

.container-activity-detail p,
.container-activity-detail div {
	 margin: 0px;
	 font-size: 95%;
}
.container-activity-detail .mobi-activity-title,
.container-activity-detail p.mobi-letter-grade,
.container-activity-detail p.mobi-numeric-grade,
.container-activity-detail div {
	padding-bottom: 5px;
}

.container-activity-detail .mobi-activity-title {
	font-weight: bold;
	font-size: 110%;
}

#btn-viewall-activity {
	margin-left: 0;
}

#pageActivityDetail .container-activity-detail p,
#pageActivityDetail .container-activity-detail div {
	padding-left: 17px;
}


.activity-detail-links {
	clear: both;
	padding: 16px 0 0 0;
}

.activity-detail-links .ui-link {
	display: block;
	font-size: .9em;
	text-decoration: none;
	margin: 0 0 8px 0;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#pageActivityDetail .container-activity-detail div.activity-detail-links p {
	padding: 0px;
}

/* Hiding and showing different kinds of details */
#pageActivityDetail .detail-grade .container-grade {
	display: block;
}
#pageActivityDetail .detail-grade .container-dropbox,
#pageActivityDetail .detail-grade .container-assignment,
#pageActivityDetail .detail-grade .container-exam {
	display: none;
}


#pageActivityDetail .detail-dropbox .container-dropbox {
	display: block;
}
#pageActivityDetail .detail-dropbox .container-grade,
#pageActivityDetail .detail-dropbox .container-assignment,
#pageActivityDetail .detail-dropbox .container-exam {
	display: none;
}

#pageActivityDetail .detail-assignment .container-assignment {
	display: block;
}
#pageActivityDetail .detail-assignment .container-grade,
#pageActivityDetail .detail-assignment .container-dropbox,
#pageActivityDetail .detail-assignment .container-exam {
	display: none;
}

#pageActivityDetail .detail-exam .container-exam {
	display: block;
}
#pageActivityDetail .detail-exam .container-grade,
#pageActivityDetail .detail-exam .container-dropbox,
#pageActivityDetail .detail-exam .container-assignment {
	display: none;
}

.detail-dropbox .mobi-activity-title {
	text-transform: capitalize;
}


/* End: Activity Detail view */



/* Begin: Profile page */
 
 #pageProfile li.course .ui-icon {
 	display: none;
 }
 
 #pageProfile li.course {
 	font-size: 16px;
 	padding: 0.7em 75px 0.7em 15px;
 }
 
 #pageProfile span.mobi-your-course {
 	font-weight: normal;
 }
 
#profile-classes-list .course {
	background-image: none;
	padding-left: 0px;
}

.list-header {
	margin: 20px 0 0 5px;
	font-weight: bold;
}
/* End: Profile page */

/* Begin: Subnavigation bar */
.subnav {
	padding: 6px;
	margin: 0;
	line-height: 10px;
	clear: both;
}

#pageHome .subnav {
	height: 40px;
	padding-top: 0;
}

#pageCoursePeople .subnav  {
	padding-top: 1px;
	padding-bottom: 8px;
}


.subnav .btn-refresh {
	float: right;
	width: 26px;
	height: 26px;
	padding: 0;
}

.subnav .activity-toggle {
	float: left;
	width: 87%;
}

.subnav .btn-refresh {
	float: right;
	width: 29px;
	height: 29px;
	padding: 0;
}

.subnav .btn-refresh .ui-icon {
	margin: 4px 6px;
}
.subnav .announcement-subject,
.subnav .announcement-message,
.subnav .announcement-subject a,
.subnav .announcement-message a {
	margin: 0;
	padding: 4px;
}

.subnav .announcement-subject a,
.subnav .announcement-message a {
	background-image: none;
	background-color: transparent;
	font-weight: inherit;
	border-width: 0px;
	text-decoration: none;
	-moz-box-shadow: none;
}

.subnav .announcement-message {
	font-size: .8em;
}

.subnav .ui-select {
	width: 100%;
	text-align: left;
}

.subnav .ui-select span.ui-btn-text {
	text-align: left;
}

.subnav a.ui-btn-active .ui-btn-inner .ui-btn-text,
.subnav a .ui-btn-inner .ui-btn-text {
	font-size: .9em;
}

.subnav .ui-select .ui-btn {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.subnav .ui-select .ui-btn-inner {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 4px 0;
}

.subnav .ui-select .ui-btn-text {
	float: left;
}

.subnav .container-announcement {
	text-indent: -4px;
	line-height: 1.0em;
}
.subnav .container-announcement a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/* End: Subnavigation bar */

 
/* Begin: Person page*/
.item-icon {
	background: #FFF;
	border: #CCC;
	width: 60px;
	height: 60px;
}

.my-profile-item-icon {
  width: 36px;
  height: 36px;
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
  position: relative;
  top: -2px;
}

.my-profile-item-icon .you-banner {
  width: 34px;
  height: 34px;
  display: block;
  text-indent: -9999px;
  position: relative;
  top: -6px;
  left: -6px;
}

.my-profile-item-icon .person {
	display: none;
}

.detail-header {
  width: 100%;
  padding: 0px;
}
#pagePerson .view-profile {
	padding: 3px 5px 4px;
}

.view-profile {
   padding: 10px 10px 4px 10px;
}

 .container-personinfo {
	float: left;
	margin: 5px 0 0;
	padding-left: 4px;
	width: 200px;
	position: relative;
	top: -4px;
}

.container-personinfo .mobi-student-name {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

#pagePerson .mobi-student-class {
	display: block;
	font-size: 70%;
	font-weight: bold;
	margin: 0;
}
/* End: Person page*/

/* Begin: Bookmark popup */
.bookmark-popup {
	display: none;
	width: 100px;
	height: 75px;
	background-color: #ccc;
	border: 1px solid #000;
	position: absolute;
	top: 0px;
	left: 0px;
}
.bookmark-popup h3 {
	font-size: 80%;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
	margin-top: 0.75em;
	margin-bottom: 0.5em;
}

.bookmark-popup p {
	font-size: 70%;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}
.bookmark-popup p.button-close {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 100%;
	color: #fff;
	background-color: #666;
}
/* End: Bookmark popup */

/* Begin: Course Detail View */
.portrait #pageCourseDetail .container-topicinfo {
	width: 250px;
}
.landscape #pageCourseDetail .container-topicinfo {
	width: 400px;
}
/* End: Course Detail View */
